<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style></style>
  </head>
  <body>
    <div id="app">
      <!-- <div @click="setDetail">第一种:{{roomhallguard}}</div>
      <div>计算属性:</div>
      <button @click="addcount">conut++</button> -->
      <hello v-if="flag">
        <hello1></hello1>
      </hello>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
      //创建之前 先父
      //创建完成 先父
      //挂载之前 先父
      //挂载完成 先子 后父
      //卸载之前 先父 后子
      //卸载完成 先子 后父
      Vue.component("hello1", {
        template: `
          <div>
            <input type="text" v-model="value"/>
            <button>搜索</button>

            <div>{{value}}</div>
          </div>
        `,
        beforeCreate() {
          console.log("孙 beforeCreate");
        },
        created() {
          console.log("孙 created");
          //  this.ajax();
        },
        beforeMount() {
          console.log("孙 beforeMount");
        },
        mounted() {
          console.log("孙 mounted");
        },
        beforeDestroy() {
          console.log("孙 beforeDestroy");
        },
        destroyed() {
          console.log("孙 destroyed");
        },
        data() {
          return {
            value: "",
          };
        },
      });
      Vue.component("hello", {
        template: `
          <div>
            <input type="text" v-model="value"/>
            <button>搜索</button>

            <div>{{value}}</div>
            <slot></slot>
          </div>
        `,
        beforeDestroy() {
          console.log("子 beforeDestroy");
        },
        destroyed() {
          console.log("子 destroyed");
        },
        beforeCreate() {
          console.log("子 beforeCreate");
        },
        created() {
          console.log("子 created");
          //  this.ajax();
        },
        beforeMount() {
          console.log("子 beforeMount");
        },
        mounted() {
          console.log("子 mounted");
        },
        data() {
          return {
            value: "",
          };
        },
      });

      new Vue({
        el: "#app",
        computed: {
          roomhallguard1() {
            return (
              this.detail.room +
              "室" +
              this.detail.hall +
              "厅" +
              this.detail.guard +
              "卫"
            );
          },
        },
        watch: {
          count(newValue, ordValue) {
            console.log(newValue, ordValue);
          },
        },
        data() {
          return {
            flag: true,
            count: 0,
            detail: {
              room: 4,
              hall: 1,
              guard: 1,
            },
            roomhallguard: "",
          };
        },
        beforeCreate() {
          console.log("父 beforeCreate");
        },
        created() {
          setTimeout(() => {
            this.flag = false;
          },2000);
          console.log("父 created");
          //  this.ajax();
        },
        beforeMount() {
          console.log("父 beforeMount");
        },
        mounted() {
          console.log("父 mounted");
        },
        methods: {
          addcount() {
            this.count++;
          },
          ajax() {
            this.joinDetail();
          },
          setDetail() {
            this.detail.room = 4;
            //this.joinDetail();
          },
          joinDetail() {
            this.roomhallguard =
              this.detail.room +
              "室" +
              this.detail.hall +
              "厅" +
              this.detail.guard +
              "卫";
          },
        },
      });
    </script>
  </body>
</html>
